.container {
  background-color: #efefef;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  max-width: 1400px;
  margin: 0 auto;
}

.info {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  justify-content: space-around;
  font-size: 12px;

  .phone,
  .email {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 5px;
    transition: 0.3s;

    p {
      font-size: 15px;
    }
  }
}
.phone:hover,
.email:hover {
  color: var(--color-purple-800);
}
.right {
  display: flex;
  align-items: center;
}

.rightLinks {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;

  .link {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    transition: 0.3s;
    align-items: center;
  }
  .link:hover {
    color: var(--color-purple-800);
  }
}

@media screen and (max-width:580px){
  .header{
    flex-direction: column;
    gap: 15px;
  }
}